{% extends 'layout.html' %}

{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3">{{namee}}</h1>
    </div>
  </div>
</text-center>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {% for lyrics in data %}

              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{lyrics.song}}</h6>
                    <p class="card-text">{{lyrics.lyricsbody}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">

                        <form action="{{url_for('add_playlist_song', id=lyrics.id)}}" method="post">
                          <input type="hidden" name="_method" value="Add Playlist">
                          <input type="submit" value="Add to Playlist" class="btn btn-primary">
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}

          </div>
        </div>
      </div>

    </main>
{% endblock %}
