
<!DOCTYPE html>
<html lang="en">

<head>
<title>Songs/Lyrics Search Portal</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Music template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.1.2/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='responsive.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}" type="text/javascript"></script>

</head>
<body>

<div class="super_container">

  <!-- Header -->

	<header class="header">
		
		{% with messages = get_flashed_messages(with_categories=true) %}
		  {% if messages %}
		    {% for category, message in messages %}
		      <div class="alert alert-{{ category }}">{{ message }}</div>
		    {% endfor %}
		  {% endif %}
		{% endwith %}

		{% if error %}
		  <div class="alert alert-danger">{{error}}</div>
		{% endif %}

		{% if msg %}
		  <div class="alert alert-success">{{msg}}</div>
		{% endif %}

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-center">

            <!-- Logo -->
						<div class="logo">
							<a href="/" class="d-flex flex-row align-items-end justify-content-start">
								<span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
								<span class="logo_text" style="font-size: 15px;">Songs/Lyrics Search Portal</span>
							</a>
						</div>

            <!-- Main Navigation -->
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a href="/">Home</a></li>
								<li><a href="/search">Search</a></li>
								<li><a href="/allsong">All Songs</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</nav>

            <!-- User area -->
						<div class="log_reg d-flex flex-row align-items-center justify-content-start">
							<ul class="d-flex flex-row align-items-start justify-content-start">
                {% if session.logged_in %}
								<li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
								<li><a href="/register">Register</a></li>
                {% endif %}
							</ul>

							<!-- Hamburger -->
							<div class="hamburger d-flex flex-column align-items-end justify-content-between"><div></div><div></div><div></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Tours -->

	<div class="tours" style="margin-top:150px;overflow-y: scroll;">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Add -->
				<div class="col-lg-4 order-lg-1 order-2 tours_col">
					<div class="extra d-flex flex-column align-items-center justify-content-between">
						<div class="background_image" style="background-image:url(/static/images/extra_1.jpg)"></div>
						<div class="extra_frame"></div>
						<div class="extra_title_container">
							<div class="extra_subtitle">Your Dashboard!</div>
						</div>
					</div>
				</div>

				<!-- Tours Content -->
				<div class="col-lg-8 order-lg-2 order-1">
					<div class="tours_content">
						<div class="section_title"><h1>{{session.username}}</h1></div>
						<div class="tours_list_container">

              {% for lyrics in data %}
								<!-- Tour -->
									<div class="tour_info">
										<div class="tour_date">{{lyrics.artist}}</div>
										<div class="tour_name"><a href="#">{{lyrics.song}}</a></div>
										<div class="tour_location">{{lyrics.lyricsbody}}</div>
									</div>

                    <form action="{{url_for('delete_song', id=lyrics.id)}}" method="post">
                      <input type="hidden" name="_method" value="Remove">
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
              {% endfor %}


						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="background_image" style="background-image:url(/static/images/footer.jpg)"></div>
		<div class="footer_content">
			<div class="container">
				<div class="row">
					<div class="col text-center">

						<!-- Logo -->
						<div class="logo">
							<a href="/" class="d-flex flex-row align-items-end justify-content-start">
								<span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
								<span class="logo_text">Songs/Lyrics Search Portal</span>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="copyright text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>
			</div>
		</div>

	</footer>
</div>

</body>
</html>
